<!DOCTYPE html>
    <html>
        <head>
            <title><%= ENV['APP_NAME'] %></title>
            <link rel="stylesheet" href="/assets/css/base.css" />
            <script src="/javascript/base.js"></script>
        </head>
    <body>
        <%= yield %>
    </body>
</html>