<!DOCTYPE html>
    <html>
        <head>
            <title><%= env('APP_NAME') %></title>
            <link rel="stylesheet" href="<%= assets('base.css')%>" />
            <script src="<%= assets('base.js')%>"></script>
        </head>
    <body>
        <%= yield %>
    </body>
</html>